@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151619;
}

h1 {
    font-family: 'Outfit', sans-serif;
    position: relative;
    top: 5px;
}

.productList {
    position: absolute;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    top: 100px;
}